.wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    cursor: pointer;
    transition: 0.2s all;
    width: min-content;
    &:hover {
        transform: scale(1.05) translateX(-10px);
    }
    .name {
        font-size: 18px;
    }
}